chat_env/
.idea
log/
.vscode
*.py[cod]
.DS_Store
#virtual envirments
venv/
media/script1.js
media/chatbot.html
media/chatbotImage
media/images
config/settings_local.py
config/secrets.json

*__pycache__